*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* uti */
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.space-b{
    justify-content: space-between;
}

.fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

li{
    list-style-type: none;
    display: inline;
}

.margin-r{
    margin-right: 5px;
}

.font-15{
    font-size: 15px;
}

.font-10{
    font-size: 10px;
}

/* head */
header{
    background-color: orangered;
}

nav{
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    color: white;
}

#logo{
    width: 100px;
}





/* main */
main{
    margin-top: 80px;
    margin-bottom: 100px;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cuore{
    top: 10px;
    right: 0;
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 5px 15px;
    z-index: 100;
}

.sconto{
    background-color: red;
    padding: 2px 10px;
}

.sosten{
    background-color: green;
    padding: 2px 10px;
}

.etichetta{
    bottom: 30px;
    color: white;
    z-index: 100;
}

.prezzo{
    color: red;
}

.discount{
    text-decoration: line-through;
}

.card{
    width: 30%;
}

.img,
.img-top{
    width: 100%;
}

.cuore:hover{
    color: red;
}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}





/* foot */
footer{
    background-color: rgb(29, 28, 28);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
}

footer div{
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    color: white;
}

.social{
    color: white;
}